@import url('../../index.css');


.home {
    width: 100vw;
    height: 100vh;
    background-image: url('../../Assets/bg.webp');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home .headerHome {
    padding: .5rem;
    border: 1px solid;
    border-image: linear-gradient(to right, white, transparent) 1 round;
    background: linear-gradient(90.67deg, rgba(96, 17, 245, 0.228) 0%, rgba(96, 17, 245, 0.057) 98.84%);
}

.home .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2.5rem;
    width: 1200px;

    
    border: 1px solid;
    border-image: linear-gradient(to right, white, transparent) 1 round;

    background: linear-gradient(90.67deg, rgba(96, 17, 245, 0.228) 0%, rgba(96, 17, 245, 0.057) 98.84%);
    backdrop-filter: blur(12.5px);
}

.home .main .texts {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    text-align: center;
    margin-bottom: 6rem;
}

.home .main .texts h1 {
    color: var(--light-orange);
}

.home .main .texts h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.home .main .texts p {
    font-weight: 400;
}
