:root {
    --footerOrange: #F6511D;
    --secColor: #CED4DA;
    --btnPurple: #8458FF;
    --btnYellow: #FFC107;
    --btnRed: #DC3545;

    --h1: 32px;
    --h3: 24px;
    --p: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'inter', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    padding-left: 40px;
    background-color: var(--secColor);
    text-align: start;
}

main {
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

main .section-01 {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

main .section-01 .form {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 40px;
    text-align: start;
}

main .section-01 .form .left-side, main .section-01 .form .right-side  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

main .section-01 .form .left-side #name, main .section-01 .form .right-side #descricao, main .section-01 .form .left-side .inner-left-divisor .data-viagem input {
    height: 38px;
    padding: 8px;
    border: 1px solid var(--secColor);
    border-radius: 4px;
}

main .section-01 .form .left-side .inner-left-divisor {
    width: 500px;
}

main .section-01 .form .left-side .inner-left-divisor .data-viagem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


main .section-01 .form .right-side #descricao {
    height: 100%;
}

main .section-01 .form .left-side .inner-left-divisor {
    display: flex;
    justify-content: space-between;
}


main .btn {
    width: 100px;
    height: 40px;
    font-weight: 600;
    margin-right: 20px;
    align-self: center;   
    border-radius: 6px;
    border: none;

    font-size: var(--p);

    cursor: pointer;
}

.btn-cadastrar {
    background: var(--btnPurple);
}

.btn-editar {
    background: var(--btnYellow);
}

.btn-excluir {
    background: var(--btnRed);
}

main .section-02 {
    display: flex; 
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--secColor);
    padding: 30px;    
    margin-top: 50px
}

footer {
    width: 100vw;
    height: 150px;
    background: var(--footerOrange);   

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}