:root{
    --laranja: #F56A4D;
    --roxo: #6840F5;
    --verde: #33F5A9;
    --cinza: #3F3D46;

    --raio: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Buttons */
.btn{
    text-decoration: none;
    border-radius: var(--raio);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border: none;
}

.btn_gray{
    background-color: var(--cinza);
    color: white;
}