.card {
    width: 815px;
    height: 358px;
    left: 313px;
    top: 347px;

    border:none;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card .form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.card .form input {
    border: none;
    outline: none;

    width: 14rem;
    border-bottom: 1px solid rgba(00, 00, 00, 0.5);
}