
.button {
    width: 134px;
    height: 45px;
    background: rgb(252, 6, 6);
    
    border: none;
    border-radius: 30px;

    color: white;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
}

.button:hover {
    background: rgb(252, 6, 6, 0.7);
}
