:root{
  --orange: #f56a4d;
  --purple: #6840f5;
  --green: #33f5a9;
  --gray: #3f3d46;

  --radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: Roboto, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.btn {
  color: white;
  text-decoration: none;
  border: none;
  border-radius: var(--radius);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}