* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #8E7ECE;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    background: #2D2A37;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 356px;
    height: 556px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    
}

input {
    height: 100px;
    font-size: 30px;
    text-align: right;
    background: none;
    color: white;
    padding: 20px;
    padding-top: 50px;
    outline: none;
    border: none;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
}

.column-1 {

}

.math {
    background: #462878;
}