@import url('../../index.css');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .6rem;
    padding: 0 2rem;

    width: 1200px;
    height: 103px;

    border: 1px solid;
    border-image: linear-gradient(to right, white, transparent) 1 round;

    background: linear-gradient(90.67deg, rgba(96, 17, 245, 0.228) 0%, rgba(96, 17, 245, 0.057) 98.84%);
    backdrop-filter: blur(12.5px);
}

.header .container nav {
    display: flex;
    gap: 2rem;
}

.header .container nav li {
    padding: .5rem;
}

.header .container nav li:hover {
    border: 1px solid;
    border-image: linear-gradient(to right, white, transparent) 1 round;
    background: linear-gradient(90.67deg, rgba(96, 17, 245, 0.228) 0%, rgba(96, 17, 245, 0.057) 98.84%);
}