@import url('../../index.css');

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    width: 1200px;
    height: 103px;

    border: 1px solid;
    border-image: linear-gradient(to right, white, transparent) 1;
    box-sizing: border-box;
    border-radius: 2rem;

    background: linear-gradient(90.67deg, rgba(96, 17, 245, 0.228) 0%, rgba(96, 17, 245, 0.057) 98.84%);
    backdrop-filter: blur(12.5px);
}

.header .container .logo {
    display: flex;
    gap: .6rem;
}

.header .container .logo img {
    width: 3rem;
}

.header .container .logo .textLogo {
    font-size: 1.2rem;
    color: white;
}